.timing {
    margin-top: 40px;
}
.break-timing h2 {
    text-align: left;
    color: #ffffff;
}
.break-timing-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: #222831;
    border-radius: 10px;
    padding: 20px;
}
.break-time-btn {
    background-color: #4f5661;;
    color: #ffffff;
    border-radius: 50%;
    padding: 10px;
}
.break-time-btn button {
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: none;
    color: #ffffff;
}